*{
	margin: 0;
	padding: 0;
}
ul, ol, li{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
.clear:after{
	content: "";
	height: 0;
	display: block;
	clear: both;
}
.winScro{
	height: 130px;
	background-color: #fff;
	z-index: 1;
	/*top: 0;
	left: 0;*/
}
.Top{
	height: 30px;
}
.top{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	overflow: hidden;
}
.top-left{
	float:left;
	width: 120px;
	height: 30px;
	color: #9a9791;
	font-size: 13px;
	text-align:center;
	margin-top: 5px;
}
.top-right{
	float: right;
	width: 790px;
	height: 30px;
	overflow: hidden;
}
.top-right1{
	float: left;
	width: 100px;
	height: 30px;
}
.top-right1 ul li{
	width: 20px;
	height: 20px;
	float: left;
	margin: 5px 5px 5px 5px;
	position: relative;
	overflow: hidden; /*将小图片超出的部分隐藏 */
}
/*.top-right1-1{
	position: absolute;
	top: -30px;
} 不是li向上动，是小图片向上动*/
.top-right1-1 img{
	position: absolute;
	top: -31px;
}
.top-right1-2 img{
	position: absolute;
	top: -53px;
}
.top-right1-3 img{
	position: absolute;
	top: -75px;
}
.top-right2{
	float: left;
	width: 80px;
	height: 30px;
}
.top-right2 ul li{
	float: left;
	width: 40px;
	height: 30px;
	color: #9a9791;
	text-align: center;
	margin-top: 5px;
	font-size: 15px;
}
.top-right3{
	float:left;
	width: 610px;
	height: 30px;
}
.top-right3>ul>li{
	float: left;
	width: 75px;
	height: 20px;
	position: relative;
	margin: 5px 0 5px 0;
	overflow: hidden;
	color: #9a9791;
	text-align: center;
	font-size: 15px;
	margin-right: 1px;
}
.top-right3>ul>li li{
	float: left;
	margin-right: 1px;
}
.top-right3-1 li img{
	position: absolute;
	top: -112px;
}
.top-right3-1 li:last-child{
	margin-left: 25px;
}
.top-right3-5 li{
	margin-left: 10px;
}
.top-right3-8 li:last-child{
	width: 8px;
	font-weight: bold;
	color: #fe6c00;
}
.Search{
	height: 80px;
}
.search{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	overflow: hidden;
}
.Bang5mai-logo{
	float: left;
	width: 250px;
	height: 80px;
}
.Bang5mai-logo img{
	margin: 10px 100px 0 0;
}
.search-bar{
	float: left;
	width: 670px;
	height: 80px;
}
.search-bar-left input{
	float: left;
	width: 500px;
	height: 40px;
	border: 3px solid #fe6c00;
	color: #74736d;
	font-size: 16px;
	margin-top: 15px;
}
.search-bar-right input{
	float: left;
	width: 80px;
	height: 46px;
	border: 3px solid #fe6c00;
	color: #fff;
	background-color: #fe6c00;
	font-size: 20px;
	text-align: center;
	margin-top: 15px;
}
.phone-and-email{
	float: left;
	width: 280px;
	height: 80px;
}
.phone-and-email ul li{
	float: left;
	width: 90px;
	height: 40px;
	border: 1px solid #e6e5e2;
	margin-top: 20px;
}
.phone-and-email ul li:last-child{
	background-color: #ff4d04;
}
.phone-image{
	width: 90px;
	height: 18px;
	position: relative;
	overflow: hidden;
}
.phone-image img{
	position: absolute;
	top: -95px; /* 负数 */
	left: 35px;
}
.email-image{
	width: 90xp;
	height: 18px;
	position: relative;
	overflow:hidden;
}
.email-image img{
	position: absolute;
	top: -113px; /* 负数 */
	left: 35px;
}
.phone-and-email-number{
	width: 90px;
	height: 22px;
	color: #9a9791;
	font-size: 13px;
	margin-top: 3px;
}
.question-image{
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 15px;
	margin-left: 5px;
}
.question-text{
	float: left;
	margin-top: 15px;
	color: #fff;
	font-size: 15px;
}
.SmallList{
	height: 20px;
}
.small-list{
	width: 1200px;
	height: 20px;
	margin: 0 auto;
	overflow: hidden;
}
.small-list-box{
	float: left;
	width: 250px;
	height: 20px;
}
.small-list-orange-font ul li{
	float: left;
	width: 70px;
	color: #ff0000;
	font-size: 14px;
	text-align: center;
	border-right: 1px solid #ebe7e7;
}
.small-list-gray1-font ul li{
	float: left;
	width: 55px;
	color: #666560;
	font-size: 14px;
	text-align: center;
	border-right: 1px solid #ebe7e7;
}
.small-list-gray2-font ul li{
	float: left;
	width: 49px;
	color: #666560;
	font-size: 14px;
	text-align: center;
	border-right: 1px solid #ebe7e7;
}
.small-list-gray2-font ul li:last-child{
	border-right: none;
	padding-left: 5px;
	text-align: left;
}
.small-list-purple-font ul li{
	float: left;
	width: 70px;
	color: #c0a9d6;
	font-size: 14px;
	text-align: center;
	border-right: 1px solid #ebe7e7;
}
.BigList{
	height: 40px;
	border-bottom: 1px solid #fe6c00;
}
.big-list{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
}
.big-list-left{
	float: left;
	width: 170px;
	height: 34px;
	background-color: #ff4d04;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 6px;
}
.big-list-right{
	float: left;
	width: 780px;
	height: 40px;
	font-size: 20px;
}
.big-list-right ul li{
	width: 110px;
	float: left;
	text-align: center;
	margin-top: 7px;
}
.big-list-right ul li:last-child{
	width: 120px;
	position: relative;
}
.big-list-right ul li img{
	position: absolute;
	top: -10px;
	right: 0;
}
.Content{
	height: 560px;
	background-color: #f8f7f6;
}
.content{
	width: 1200px;
	height: 560px;
	margin: 0 auto;
}
.CommodityList{
	float: left;
	width: 170px;
	height: 550px;
}
.commodity-list1{
	float: left;
	width: 170px;
	height: 425px;
	border-bottom: 1px solid #fe6c00;
	overflow: hidden;
}
.commodity-list1-1{
	float: left;
	width: 22px; /* 25px-3px */ 
	height: 400px; /* 425px-25px */
	color: #ff4d4b ;
	background-color: #4c4c4a;
	padding-top: 25px;
	padding-left: 3px;
}
.commodity-list1-2 ul li{
	float: left;
	width: 145px;
	height: 20px; /* 32px-12px */
	font-size: 13px;
	padding-top: 12px;
}
.commodity-list2{
	float: left;
	width: 170px;
	height: 125px;
	overflow: hidden;
}
.commodity-list2 ul li{
	float: left;
	width: 170px;
	height: 41px;
}
.commodity-list2 img{
	float: left;
	margin: 10px 10px 0 5px;
}
.commodity-list-text{
	width: 130px;
	height: 30px; /* 41px-11px */
	float: left;
	font-size: 15px;
	color: #855d38;
	padding-top: 11px;
}
.big-banner{
	float: left;
	width: 800px;
	height: 550px;
	overflow: hidden;
}
/* ******* */
.box{
	float: left;
	width: 800px;
	height: 360px;
	border: 1px solid #fe6c00;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	top: 130px;
	position: absolute;
	opacity: 0;
	overflow: hidden;
}
#left{
	left: 10px;
}
#right{
	right: 10px;
	/*position: relative; 不对*/
}
#right img{
	position: absolute;
	top: -60px;
}
.nav{
	position: absolute;
	left: 350px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 5px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
}
.nav .active{
	background: #fe6c00;
}



/* ******* */
.big-banner-bottom{
	float: left;
	width: 800px;
	height: 189px;
	border-top: 1px solid #fe6c00;
	overflow: hidden;
}
.big-banner-bottom ul li{
	float: left;
	width: 200px;
	height: 189px;
}
.small-banner{
	float: left;
	width: 210px;
	height: 550px;
}
.small-banner-top{
	float: left;
	width: 210px;
	height: 40px;
	color: #fe6c00;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #ebeae7;
}
.small-banner-top img{
	margin: 12px 5px 0 15px;
}
/* ********* */
/*.small-banner-middle{
	float: left;
	width: 210px;
	height: 320px;
	overflow: hidden;
}
.small-banner-middle ul li{
	width: 210px;
	height: 28px-10px;
	float: left;
	color: #ff4d04;
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
}*/
.box2{
	float: left;
	width: 210px;
	height: 308px;
	position: relative;
	overflow: hidden;
}
.slider2{
	width: 210px;
	height: 672px;
	/*(13+11)*28px*/
	position: absolute;
	/*top: 0;*/
}
.slide2{
	height: 28px;
	 /*28px-10px */
	overflow: hidden;
	float: left;
	color: #ff4d04;
	font-size: 13px;
	line-height: 28px;
	font-weight: bold;
	/*padding-top: 10px;*/
}

/* ************ */
.small-banner-bottom{
	float: left;
	width: 210px;
	height: 192px;
	overflow: hidden;
	border-top: 1px solid #ebeae7;
}
.small-banner-bottom1{
	float: left;
	width: 210px;
	height: 30px;
}
.small-banner-bottom1 img{
	float: left;
	margin: 5px 15px 0 15px;
}
.small-banner-bottom1-1{
	float: left;
	width: 60px;
	height: 25px; /* 30px-5px */
	font-size: 13px;
	padding-top: 5px;
}
.small-banner-bottom1-2{
	float: left;
	color: #ff4d04;
	width: 110px;
	height: 25px; /* 30px-5px */
	font-size: 13px;
	font-size: 13px;
	padding-top: 5px;
}
.small-banner-bottom2{
	float: left;
	width: 210px;
	height: 30px;
}
.small-banner-bottom2 input{
	width: 125px;
	height: 20px;
	border: 1px solid #aca7a2;
	margin-left: 15px;
}
.small-banner-bottom3{
	float: left;
	width: 210px;
	height: 30px;
}
.small-banner-bottom3 select{
	float: left;
	width: 60px;
	height: 18px;
	border: 1px solid #aca7a2;
	margin-left: 15px;
	margin-top: 1px;
}
.moneyNum{
	float: left;
	font-size: 15px;
	color: #ff4d04;
}
.small-banner-bottom4{
	float: left;
	width: 210px;
	height: 30px;
}
.small-banner-bottom4 input{
	color: #fff;
	font-size: 15px;
	text-align: center;
	background-color: #ff4d04;
	width: 180px;
	height: 25px;
	border: 0;
	border-radius: 5px;
	margin-left: 15px;
}
.Servey{
	height: 180px;
	background-color: #f8f7f6;
}
.servey{
	width: 1200px;
	height: 180px;
	margin: 0 auto;
	border-bottom: 1px solid #ebeae8;
}
.servey1{
	float: left;
	width: 200px;
	height: 180px;
	overflow: hidden;
}
.servey2>ul>li{
	float: left;
	width: 130px;
	height: 180px;
	margin-right: 2px;
}
.servey2>ul>li ul li{
	float: left;
	width: 130px;
	height: 25px; /* 30px-5px */
	font-size: 14px;
	color: #666560;
	text-align: left;
	padding-top: 5px;
}
.servey2>ul>li ul li:first-child{
	font-size: 20px;
	text-align: left;
	color: #000;
	height: 28px; /* 30px-2px */
	padding-top: 2px;
}
.servey3{
	float: left;
	width: 208px;
	height: 180px;
}
.servey3 img{
	margin-left: 20px;
}
.Bottom{
	height: 160px;
	background-color: #f8f7f6;
}
.bottom1{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
}
.bottom1-1{
	width: 220px;
	float: left;
	height: 40px;
}
.bottom1-2 ul li{
	float: left;
	width: 77px;
	height: 20px;
	color: #666560;
	font-size: 13px;
	text-align: center;
	border-right: 1px solid #d0cdc7;
	margin-top: 10px;
}
.bottom1-2 ul li:last-child{
	border-right: none;
}
.bottom2{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
}
.bottom2 ul li{
	float: left;
	width: 1200px;
	height: 20px;
	color: #9a979d;
	font-size: 13px;
	text-align: center;
}
.bottom3{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
.bottom3-1{
	float: left;
	width: 190px;
	height: 60px;
}
.bottom3-2{
	float: left;
	width: 800px;
	height: 60px;
}
.bottom3-2 ul li{
	float: left;
	margin-right: 5px;
	margin-top: 13px;
}
.bottom3-2-1 img{
	margin-top: -5px;
}
.bottom3-2-2 img{
	margin-top: -8px;
}
.bottom3-2-3 img{
	margin-top: -13px;
}
.w12{
	position: fixed;
	top: 65px;
	right: -86px;
	width: 130px;
	height: 110px;
}
.w1{

}
.w2{
	width: 130px;
	margin-top: -5px;
	background-color: #fd9a6e;
}
.w3{
	width: 130px;
	height: 140px;
	position: fixed;
	top: 178px;
	right: -85px;
	background-color: #fd9a6e;
}
.w3 img{
	float: left;
}
.w3-1{
	float: left;
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 15px;
}
.w3-2 input{
	float: left;
	width: 50px;
	background-color: #fd9a6e;
	color: #fff;
	border: 1px solid #fff;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
}
.w45{
	position: fixed;
	top: 320px;
	right: -86px;
	width: 130px;
	height: 142px;
	background-color: #fd9a6e; 
}
.w4{

}
.w5{

}
.w5 img{
	margin-left: 13px;
	/*margin-top: 45px;*/
}
.er1{
	position: absolute;
	top: 100px;
}
.er2{
	position: absolute;
	top: 50px;
}
.w6{
	width: 130px;
	position: fixed;
	top: 468px;
	right: -86px;
	background-color: #ff4d04;
}